html {
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

nav {
  list-style-type: none;
}

.logo {
  max-width: 4em;
  display: inline-block;
}

.icon {
  max-width: 12em;
}

.prices {
  max-width: 21em;
  margin: 1em;
}

nav li {
  display: inline-block;
}

fieldset {
  border: none;
}

.all-prices {
  justify-content: center;
}

.company {
  background-color: #fff;
}

footer {
  background-color: #fff;
}

/* skip links */

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #ddffa6;
  color: #000;
  padding: .5em .75em;
  text-decoration: none;
}

.skip-links a:focus {
  top: 1em;
}

/* button things */

a {
  text-decoration: none;
  text-align: left;
}

nav a:hover,
nav a:focus {
  color: #ed6b00;
}

.another-hover:hover {
  color: #ddffa6;
}

.btn {
  border-radius: 0;
  border-color: #ed6b00;
  background-color: #ed6b00;
  color: #fff;
}

.btn-blue {
  border-color: #3a4032;
  background-color: #3a4032;
}

.ghost-btn {
  border-color: #3a4032;
  background-color: #fff;
  color: #3a4032;
}

.orange-ghost-btn {
  border-color: #ed6b00;
  background-color: #fff;
  color: #ed6b00;
}

.btn:hover {
  border-color: #ed6b00;
  background-color: #fff;
  color: #ed6b00;
}

.btn-blue:hover {
  border-color: #3a4032;
  color: #3a4032;
}

.ghost-btn:hover {
  border-color: #3a4032;
  background-color: #3a4032;
  color: #fff;
}

/* Just colours */

.orange {
  color: #ed6b00;
}

.current {
  color: #ed6b00;
}

.dark-green {
  color: #3a4032;
}

.light-green {
  color: #ddffa6;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.bg-orange {
  background-color: #ed6b00;
}

.bg-dark-green {
  background-color: #3a4032;
}

.bg-light-green {
  background-color: #ddffa6;
}

.bg-white {
  background-color: #fff;
}

.border-bottom {
  border-bottom: 5px solid #ddffa6;
}

.border-dark {
  border: 8px solid #3a4032;
}

.border-light {
  border: 8px solid #ddffa6;
}

/* table stuff */

td {
  border: 1px solid #3a4032;
  height: 2em;
}

th {
  border: 1px solid #3a4032;
}

.table-width {
  min-width: 50em;
}

/* Form stuff */

.required {
  color: #3a4032;
}

.different {
  padding-right: 1.5rem;
}

.feild {
  border: 0;
  -webkit-box-shadow: -4px 10px 11px 3px rgba(0, 0, 0, .19);
  -moz-box-shadow: -4px 10px 11px 3px rgba(0, 0, 0, .19);
  box-shadow: -4px 10px 11px 3px rgba(0, 0, 0, .19);
}

.banner {
  position: relative;
  background-color: #000;
}

.banner-text {
  position: absolute;
  left: 1em;
  top: 7em;
}

/* backgrounds */

.bg-marble {
  background-image: url("../images/backgrounds/marble.png");
  background-size: cover;
}

.bg-home {
  background-image: url("../images/backgrounds/bg-home.png");
  background-size: cover;
}

.bg-tour {
  background-image: url("../images/backgrounds/bg-tour.png");
  background-size: cover;
}

.bg-pricing {
  background-image: url("../images/backgrounds/bg-pricing.png");
  background-size: cover;
}

.bg-sign-up {
  background-image: url("../images/backgrounds/bg-form.png");
  background-size: cover;
}

.bg-success {
  background-image: url("../images/backgrounds/bg-success.png");
  background-size: cover;
}

/* media queries */

@media only screen and (min-width: 25em) {

  .banner-text {
    position: absolute;
    left: 1em;
    top: 13em;
  }

  footer {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  .banner-text {
    position: absolute;
    left: 1em;
    top: 1em;
  }

  footer {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .banner-text {
    position: absolute;
    left: 1em;
    top: 10em;
  }

}

@media only screen and (min-width: 90em) {

  .banner-text {
    position: absolute;
    left: 3em;
    top: 15em;
  }

}
